@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&family=PT+Mono&display=swap");

* {
  font-family: "PT Mono", monospace !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-image: linear-gradient(to left, rgb(27 20 41), rgb(20 15 35));
}

html {
  scroll-behavior: smooth;
}